<div class="interactive-gallery">
    <div class="slides">
        <div class="slider-item" data-caption-id="1" data-dot="1"></div>
        <div class="slider-item" data-caption-id="2" data-dot="2"></div>
        <div class="slider-item" data-caption-id="blank" data-dot="3"></div>
    </div>
    
    <div class="captions">
        <div class="caption-item" data-caption-id="1"></div>
        <div class="caption-item" data-caption-id="2"></div>
        <div class="caption-item" data-caption-id="blank"></div>
    </div>

    <ul class="slider-dots">
        <li class="slider-dot" data-dot="1"></li>
        <li class="slider-dot" data-dot="2"></li>
        <li class="slider-dot" data-dot="3"></li>
    </ul>

    <div class="slider-bottom">
        <div class="prev control" data-interactive-gallery="prev"></div>
        <div class="next control" data-interactive-gallery="next"></div>
    </div>
</div>